/* Page subheadings such as Add Room  */
h1 {
	margin: 0em 0 0.5em 0;
	font-weight: bold;
    color:	#0064d3;
	position: relative;
	font-size: 20px;
	margin-top: 5px;
}

/* Meet Anywhere */
.empheading{
	font-family: arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	color:	#e53238;
}

/* The right space for any situation */
.empsubheading{
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:	#88b719;
	margin-top: -10px;
	margin-bottom: 10px;
}

/* room headings in search */
h2 {
	font-weight: normal;
	position: float;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 20px;
	color: rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
}

/* room headings in search */
.matchTitle h2 {
    padding-top: 0.25em;
    padding-left: 3.0em;
}

/* Match popup showing confidence percentile  */
.matchPercent {
    float: left;
    border-radius: 50%;
    padding: 5px;
    color: white;
    font-weight: bold;
}

xh2 {
	margin: 0em 0 0.5em 0;
	font-weight: normal;
	position: float;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 16px;
	line-height: 16px;
	background: #355681;
	background: rgba(53,	86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
}