/* General Styles */
a {
   outline: 0;
}

p, li, button, input, label {
    font-family: 'Assistant', sans-serif;
}

/* Meet Anywhere */
.empheading {
	margin-top: 10px;
	font-family: 'Anton', sans-serif;
	color: #333;
	font-size: 2em;
	letter-spacing: 0.1rem;
}

/* The right space for any situation */
.empsubheading {
	margin-top: -15px;
	color: #333;
	font-family: 'Abel', sans-serif;
	font-size: 1.1em;
}

/* room headings in search */
h2 {
    color: #333;
	font-size: 2em;
	font-family: 'Abel', sans-serif;
}


/* Page subheadings such as Add Room  */
h1 {
	color: #333;
	font-size: 2.5em;
	font-family: 'Abel', sans-serif;
	margin-top: 0.2em;
	margin-left: 0px;
	padding-left: 0px;

}

/* Navigation/Header Styles */

 .space {
    height: 85px;
 }

.logo {
    float: left;
    margin-right: 1em;
}

.navbar-header {
    width: 40%;
    padding-top: 5px;
    padding-bottom: 2px;
}

.navbar-default {
    background-color: white;
    border-bottom-width: 0px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 28px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar-header h2 {
    font-size: 20px;
    margin-top: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    width: 100%;
    background-color: #f68d4f;
    border-bottom: 2px solid #404a56;
}

.navbar-default .navbar-nav > li > .desktopNavActive {
    color: #333;
}

/* Mobile Header Styles */

.mobile-header-full {
    background-color: #f68d4f;
    padding-top: 10px;
    border-bottom: 2px solid #404a56;
}

.mobile-header-full h3 {
    margin-top: 0px;
}

.mobile-header .logo {
    margin-right: 0px;
}

.empheading-mobile {
	font-family: 'Anton', sans-serif;
	color: #333;
	font-size: 2em;
	letter-spacing: 0.1rem;
}

.empsubheading-mobile {
	margin-top: -15px;
	color: #333;
	font-family: 'Abel', sans-serif;
	font-size: 1.1em;
}

.browseAllTitle h1 {
    margin-bottom: 1em;
}

/* Main Content Styles */

.main {
    margin-left: 2em;
    margin-right: 2em;
}

.intro {
    margin-top: 0em;
}

hr {
    border: 1px solid #e5dddd;
}

/* Browse Themes Styles */

.browseThemes {
    width: 25%;
    float: left;
    margin-bottom: 2.5em;
}

.browseThemes img {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}

.browseThemes p {
    font-weight: bold;
    color: #333;
    text-align: center;
    font-family: 'Abel', sans-serif;
}

.browseThemes a {
    text-decoration: none;
    color: black;
}

.browseThemes p:hover {
    text-decoration: none;
    color: #f68e4f;
}

.clearFix {
    clear: both;
}

.attrList {
    list-style-type: none;
}

/* Intro and Slider Styles */

.introText {
    float: left;
    width: 40%;
}

.introText li, .introText p {
    font-size: 1.3em;
    line-height: 45px;
}

.introText h1 {
    margin-left: 0px;
}

.introText ul {
    padding-left: 1.5em;
}

.sliderContainer {
    float: left;
    width: 50%;
    margin-left: 10px;
}

.carousel-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50em;
  min-height: 15em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.slide {
  flex: 0 0 20em;
  height: 10em;
  width: 50em;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}
.slide:first-of-type {
  opacity: 0;
}

.slide:last-of-type {
  opacity: 0;
}

.carousel-controls_prev, .carousel-controls_next {
    margin-top: 5px;
    width: 25px;
}

/* Search Styles */

.searchLocation {
    height: 33em;
}

.searchLocationMedMissing {
    height: 39em;
}

.searchLocationManyMissing {
    height: 43em;
}

.search {
    margin-left: 2em;
}

.leftSearch {
    float: left;
    width: 48%;
    border-right: 2px solid #e5dddd;
    margin-right: 10px;
}

.rightSearch {
    float: left;
    width: 48%;
    margin-left: 10px;
}

.form-group {
    margin-bottom: 2em;
}

label {
    font-size: 1.5em;
}

.checkboxLabel {
    font-size: 1em;
    font-weight: normal;
    margin-left: 5px;
}

.submitButton {
    float: left;
    margin-right: 80%;
}

.numberSlider {
    width: 90%;
    margin-top: 2.5em;
}

.timePicker {
    float: left;
}

.to {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.to p {
    font-weight: bold;
    text-align: center;
    margin-top: 2.5em;
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
}

ul {
    padding-left: 0;
}

.themes {
    margin-bottom: 100px;
}

.typeAhead {
    margin-top: 8em;
}

.tag.is-info {
    background-color: #3273dc;
    color: #fff;
}
.tag {
    align-items: center;
    border-radius: 290486px;
    color: #4a4a4a;
    display: inline-flex;
    font-size: 0.8em;
    height: 2em;
    justify-content: center;
    line-height: 2;
    padding-left: .875em;
    padding-right: .5em;
    margin-bottom: 0.3em;
    vertical-align: top;
}

.delete.is-small {
    height: 20px;
    width: 20px;
}
.tag .delete {
    margin-left: 0.5em;
    margin-right: -.5em;
}
.delete {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 290486px;
    display: inline-block;
    font-size: 0.8em;
    height: 20px;
    outline: 0;
    transform-origin: center center;
    vertical-align: top;
    width: 20px;
    position: relative;
}

.addAttrButton {
    margin-left: 0.5em;
    margin-top: 0em;
    margin-bottom: 1em;
}

.missingThemes {
    float: left;
    width: 40%;
    margin-right: 2em;
}

.missingItems, .browseAttributesList {
    height: 100px;
    overflow: auto;
}

.missingThemes ul, .missingAttributes ul, .missingCapacity ul {
    list-style-image: url("../images/notMatchedRed.png");
}

.missingThemes ul li, .missingAttributes ul li, .missingCapacity ul li {
    list-style-position: inside;
}

.missingAttributes {
    float: left;
    width: 50%;
}

.matchTitle h2 {
    padding-top: 0.3em;
    padding-left: 2.5em;
}

.matchPercent {
    float: left;
    border-radius: 50%;
    padding: 15px;
    color: white;
    font-weight: bold;
    margin-right: 1em;
}

.highMatch {
    background-color: #318833;
}

.mediumMatch {
    background-color: #ffa200;
}

.lowMatch {
    background-color: #c65242;
}

.btnMargin {
    margin-left: 0.5em;
}

.btn-dark.focus, .btn-dark:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.col-lg-4, .col-md-4, .col-sm-6, .col-xs-12 {
    margin-left: 0;
    padding-left: 0;
}

/* room headings in search */
.matchTitle h2 {
    padding-top: 0.3em;
}

.matchTitle p {
    font-size: 1.2em;
}

/* Booked Spaces Styles */

.bookedLocation, .searchLocation {
    margin-bottom: 2em;
}

.bookedImg, .searchImg {
    margin-bottom: 1em;
    width: auto;
    height: 250px;
}

.bookedLocation ul {
    list-style-type: none;
}

/* View One Styles */

.viewOneImgCol {
    float: left;
    width: 50%;
    margin-right: 1em;
}

.viewOneCapacityCol {
    float: left;
    width: 22%;
}

.viewOneAttrCol {
    float: left;
    width: 22%;
    padding-left: 1em;
    border-left: 2px solid #e5dddd;
}

.viewOneAttrCol ul, .viewOneCapacityCol ul {
    list-style-type: none;
}

.roomInfo p, .roomInfo li {
    font-size: 1.3em;
}

.viewOneLink {
    margin-bottom: 1em;
}

.editBtn {
    margin-left: 2em;
}

.attributesList, .themesList {
    overflow: auto;
}

/* Footer Styles */

.footer {
    border-top: 2px solid #424c58;
    padding-top: 8px;
    padding-bottom: 16px;
    background-color: #f68d4f;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 100px;
}

.footer .item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 200px;
}

.footer img {
    height: 44px;
    background-color: grey;
}

.footer .caption {
    display: block;
    text-transform: uppercase;
    color: black;
}

.footer a p {
    color: #333;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}

.footer a p:hover {
    color: white;
}

.footer .mobileNavActive p {
    color: white;
}

.footer a:hover {
    text-decoration: none;
}

.footer .caption:hover {
    color: #777;
}

.footerSpace {
    height: 110px;
}

.btn-light{color:#212529;background-color:#e8e9ea;border-color:#e8e9ea}
.btn-light:hover{color:#212529;background-color:#d2d6da;border-color:#d2d6da}
.btn-light.focus,.btn-light:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}
.btn-light.disabled,.btn-light:disabled{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}
.btn-light:not(:disabled):not(.disabled).active,.btn-light:not(:disabled):not(.disabled):active,.show>.btn-light.dropdown-toggle{color:#212529;background-color:#dae0e5;border-color:#d3d9df}
.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus,.show>.btn-light.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(248,249,250,.5)}
.btn-dark{color:#fff;background-color:#343a40;border-color:#343a40}
.btn-dark:hover{color:#fff;background-color:#23272b;border-color:#1d2124}
.btn-dark:not(:hover){color:#fff}
.btn-dark.focus,.btn-dark:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}
.btn-dark.disabled,.btn-dark:disabled{color:#fff;background-color:#343a40;border-color:#343a40}
.btn-dark:not(:disabled):not(.disabled).active,.btn-dark:not(:disabled):not(.disabled):active,.show>.btn-dark.dropdown-toggle{color:#fff;background-color:#1d2124;border-color:#171a1d}
.btn-dark:not(:disabled):not(.disabled).active:focus,.btn-dark:not(:disabled):not(.disabled):active:focus,.show>.btn-dark.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(52,58,64,.5)}

@media only screen and (max-width: 1300px) {
    body {
        /*background-color: lightblue;*/
    }

    .carousel {
        width: 48em;
    }

    .introText li, .introText p {
        font-size: 1em;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        /*background-color: pink;*/
    }

    .carousel {
        width: 45em;
    }

    .sliderContainer {
        margin-left: 2px;
    }

    .attributesList, .themesList {
        height: 130px;
    }
}

@media only screen and (max-width: 1100px) {
    body {
        /*background-color: green;*/
    }

    .searchLocation {
        height: 32em;
    }

    .searchLocationMedMissing {
        height: 34em;
    }

    .searchLocationManyMissing {
        height: 40em;
    }

    .carousel {
        width: 20em;
    }

    .browseThemes img {
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }

    .bookedImg, .searchImg {
        height: 200px;
    }

    .footer .item {
        width: 24%;
        height: 60px;
    }
}

@media only screen and (max-width: 1000px) {
    body {
        /*background-color: purple;*/
    }

    h1 {
        font-size: 1.7em;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .searchLocation {
        height: 31em;
    }

    .searchLocationMedMissing {
        height: 36em;
    }

    .searchLocationManyMissing {
        height: 38em;
    }

    .introText {
        width: 55%;
    }

    .sliderContainer {
        width: 30%;
        margin-left: 0px;
    }

    .attributesList, .themesList {
        height: 120px;
    }
}

@media only screen and (max-width: 985px) {
    body {
        /*background-color: pink;*/
    }

    .searchLocation {
        height: 31em;
    }

    .searchLocationMedMissing {
        height: 36em;
    }

    .searchLocationManyMissing {
        height: 39em;
    }
}

@media only screen and (max-width: 905px) {
    body {
        /*background-color: purple;*/
    }

    .introText li, .introText p {
        line-height: 30px;
    }
}

@media only screen and (max-width: 885px) {

    body {
        /*background-color: pink;*/
    }

    .searchLocationManyMissing {
        height: 35em;
    }

    .navbar-header {
        width: 35%;
    }

    .leftSearch {
        width: 100%;
        border-right: 0px solid #e5dddd;
        margin-right: 0;
    }

    .rightSearch {
        width: 100%;
        margin-left: 0;
    }

    .form-group {
        margin-bottom: 1em;
    }

    .bookedImg, .searchImg {
        height: 150px;
    }
}

@media only screen and (max-width: 844px) {
    body {
        /*background-color: red;*/
    }

    .searchLocationMedMissing {
        height: 32em;
    }

    .viewOneImgCol {
       width: 100%;
       margin-bottom: 2em;
    }

    .viewOneCapacityCol {
        width: 50%;
    }

    .viewOneAttrCol {
        width: 40%;
    }

    .viewOneImgCol {
        width: 100%;
    }

    .roomInfo {
        width: 100%;
    }
}

@media only screen and (max-width: 760px) {
    body {
        /*background-color: lightgreen;*/
    }

    .browseThemes {
        width: 33%;
        float: left;
    }

    .browseThemes img {
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }

    .searchLocationMedMissing {
        height: auto;
    }

    .searchLocationManyMissing {
        height: auto;
    }

    .searchLocation {
        height: auto;
    }

    .bookedImg, .searchImg {
        height: auto;
    }
}

@media only screen and (max-width: 654px) {
    body {
        /*background-color: lightblue;*/
    }

    .browseThemes {
        margin-bottom: 2em;
    }

    .browseAllTitle h1 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 590px) {
    body {
        /*background-color: lightgreen;*/
    }

    .browseAllTitle h1 {
        font-size: 2.5em;
    }

    #attributes {
        width: 95%;
    }
}

@media only screen and (max-width: 550px) {
    body {
        /*background-color: red;*/
    }

    .browseThemes img {
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }

    .browseAllTitle h1 {
        font-size: 2em
    }
}

@media only screen and (max-width: 475px) {
    body {
        /*background-color: lightyellow;*/
    }

    .browseAllTitle h1 {
        font-size: 1.5em;
    }

    .footerSpace {
        height: 80px;
    }

    .footer img {
        height: 33px;
    }

    .footer .item {
        height: 40px;
    }
}

@media only screen and (max-width: 430px) {

    body {
        /*background-color: lightblue;*/
    }

    .empheading-mobile {
        font-size: 1.5em;
    }

    .browseThemes {
        margin-bottom: 1em;
    }

    .browseThemes {
        width: 33%;
        float: left;
    }

    .timePicker {
        float: left;
        width: 100%;
    }

    .to p {
        margin-top: 0.5em;
    }

    .checkbox-grid li {
        width: 33%;
    }

   .viewOneCapacityCol {
        width: 45%;
    }

    .viewOneAttrCol {
        width: 55%;
    }

    .footer img {
        height: 33px;
    }

    .footer .caption {
        font-size: 0.9em;
        height: 50px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 400px) {
    body {
        /*background-color: pink;*/
    }

    .mobile-header h2 {
        font-size: 2em;
    }

    .footer img {
        height: 33px;
    }

    .footer .caption {
        font-size: 0.7em;
        height: 60px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 360px) {

    body {
        /*background-color: lightblue;*/
    }

    .missingThemes {
        width: 100%;
    }

    .missingAttributes {
        width: 100%;
    }

    .checkbox-grid li {
        width: 50%;
    }

    .footer img {
        height: 30px;
    }

    .footer .caption {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 350px) {
    body {
        /*background-color: pink;*/
    }

    .mobile-header p {
        font-size: 0.9em;
    }

    .browseAllTitle h1 {
        font-size: 1.2em;
    }

    .footer img {
        height: 25px;
    }

    .footer .caption {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 340px) {
    body {
        /*background-color: lightyellow;*/
    }

    .mobile-header h2 {
        font-size: 1.5em;
    }

    .logo {
        width: 50px;
    }

    .footer .item {
        width: 23.5%;
    }

    .footer img {
        height: 25px;
    }

    .footer .caption {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 320px) {
    body {
        /*background-color: purple;*/
    }

    .editBtn {
        margin-left: 0.7em;
    }

    .searchBtns .btn {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 305px) {
    body {
        /*background-color: lightgreen;*/
    }

    .footer img {
        height: 25px;
    }

    .footer .caption {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 290px) {
    .footer img {
        height: 25px;
    }

    .footer .caption {
        font-size: 0.7em;
    }
}
